# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=jenkins

# Versiones de los contenedores
HTTPS_PORTAL_VERSION=1
JENKINS_VERSION=lts-jdk17
INBOUND_AGENT_VERSION=latest-jdk17
PHP_VERSION=8.3

# Claves de conexión de los runners de Jenkins (se generan al dar de alta los nodos en Jenkins)
JAVA_RUNNER_SECRET=fa05e9...d23c0a
PHP_RUNNER_SECRET=e67d89...21e041

# Host de Docker para despliegue
JENKINS_DOCKER_HOST=docker.ciber-egibide.eu
JENKINS_DOCKER_USER=root
JENKINS_DOCKER_PORT=22
